@model CategorySearchResults

@{
    ViewData["Title"] = "Categorys";
    ViewData["PaginationBaseUrl"] = "category";
}

<h1>Categorys</h1>

<partial name="Pagination" model="Model" />

<a href="/category/create">Create New...</a>

<table id="categorysTable">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a href="/category/@category.Id.Value/edit">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="Pagination" model="Model" />

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#categorysTable').DataTable({
                paging: false,
                searching: false,
                info: false,
                ordering: false,
                order: [[0, "desc"]]
            });
        });
    </script>
}
