@model AccountSearchResults

@{
    ViewData["Title"] = "Accounts";
}

<h1>Accounts</h1>

<a href="/account/create">Create New...</a>

<table id="accountsTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model.Accounts)
        {
            <tr>
                <td>@account.Name</td>
                <td>@account.Description</td>
                <td>
                    <a href="/account/@account.Id.Value/edit">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#accountsTable').DataTable({
                paging: false,
                searching: false,
                info: false,
                ordering: false,
                order: [[0, "desc"]]
            });
        });
    </script>
}
