@model EditFinancialTransactionViewModel

@{
    ViewData["Title"] = "Transaction Details";
}

<h1>Edit Transaction</h1>

<form method="post" class="pure-form pure-form-aligned">
    
    <input type="hidden" asp-for="Id" />

    <div class="pure-control-group">
        <label asp-for="TransactionDate">Date</label>
        <input asp-for="TransactionDate" readonly />
    </div>

    <div class="pure-control-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" readonly />
    </div>

    <div class="pure-control-group">
        <label asp-for="Amount">Amount</label>
        <input asp-for="Amount" readonly />
    </div>

    <div class="pure-control-group">
        <label>Tags</label>
        <input asp-for="Tags" />
    </div>

    <div class="pure-controls control-panel">
        <button type="submit" class="pure-button pure-button-primary">Save</button>
        <a href="/financialTransaction" class="pure-button pure-button-secondary">Back</a>
    </div>

</form>

@section Scripts {
    <script src="~/js/formModifiedChecks.js"></script>
}
