#transactionsTable {
    width: 100%;
}

    #transactionsTable th {
        text-align: left;
        padding: 4px 0px;
    }

    #transactionsTable td {
        padding: 4px 0px;
    }

a:visited {
    color: blue;
}
