@model FinancialTransactionSearchResults

@{
    ViewData["Title"] = "Transactions";
    ViewData["PaginationBaseUrl"] = "financialTransaction";
}

<h1>Financial Transactions</h1>

<partial name="Pagination" model="Model" />

<table id="transactionsTable" class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>Account</th>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Tags</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var financialTransaction in Model.FinancialTransactions)
        {
            <tr>
                <td>@financialTransaction.Account.Name</td>
                <td>@financialTransaction.Date.ToString("yyyy-MM-dd")</td>
                <td>@financialTransaction.Description</td>
                <td>$@financialTransaction.Amount.ToString("N2")</td>
                <td>@string.Join(", ", financialTransaction.Tags)</td>
                <td>
                    <a href="/financialTransaction/@financialTransaction.Id.Value/edit">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="Pagination" model="Model" />

<script>
    $(document).ready(function () {
        $('#transactionsTable').DataTable({
            paging: false,
            searching: false,
            info: false,
            order: [[0, "desc"]]
        });
    });
</script>
