@model FinancialTransactionSearchResults

@{
    int totalPages = (int)Math.Ceiling((double)Model.TotalCount / Model.PageSize);
    bool showPrevious = Model.PageIndex > 0;
    bool showNext = Model.PageIndex + 1 < totalPages;
}

<nav aria-label="Page navigation">
    <ul class="pure-menu-list">
        <li class="pure-menu-item @(showPrevious ? "" : "pure-menu-disabled")">
            <a class="pure-menu-link" 
               href="@(showPrevious ? $"/transaction?SearchText={Model.SearchText}&PageSize={Model.PageSize}&PageIndex={Model.PageIndex - 1}" : "javascript:void(0);")" 
               aria-label="Previous">&laquo; Previous
            </a>
        </li>
        <li class="pure-menu-item @(showNext ? "" : "pure-menu-disabled")">
            <a class="pure-menu-link" 
               href="@(showNext ? $"/transaction?SearchText={Model.SearchText}&PageSize={Model.PageSize}&PageIndex={Model.PageIndex + 1}" : "javascript:void(0);")" 
               aria-label="Next">Next &raquo;
            </a>
        </li>
    </ul>
</nav>
