<template id="mapping-template">
    <div class="mapping-entry" data-index="__index__">
        <input type="text" name="Mappings[__index__].MappedProperty" placeholder="Mapped Property" class="pure-input" />
        <input type="number" name="Mappings[__index__].ColumnIndex" placeholder="Column Index" class="pure-input" />
        <button type="button" class="remove-mapping pure-button">Remove</button>
    </div>
</template>
