@using System.Text.Json
@model MonthlyActivityInfo

@{
    var jsonOptions = new JsonSerializerOptions
    {
        PropertyNamingPolicy = JsonNamingPolicy.CamelCase
    };

    var monthlyCategorySpendingJson = JsonSerializer.Serialize(Model.MonthlyCategorySpending, jsonOptions);
    var monthlyIncomeJson = JsonSerializer.Serialize(Model.MonthlyIncome, jsonOptions);
}

<svg id="chart" viewBox="0 0 1000 600" preserveAspectRatio="xMidYMid meet"></svg>
<div class="legend" id="legend"></div>

@section Styles {
    @* workaround for dynamically rendered elements where CSS isolation doesn't work *@
    <link rel="stylesheet" href="~/css/chart.css" asp-append-version="true" />
}

@section Scripts {
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script type="module">
        import { renderMonthlyChart } from '/js/chart.js';

        const monthlyCategorySpending = @Html.Raw(monthlyCategorySpendingJson);
        const monthlyIncome = @Html.Raw(monthlyIncomeJson);

        const tags = {
            Groceries: { color: "#f28e2b", order: 1 },
            Dining: { color: "#e15759", order: 1 },
            Entertainment: { color: "#76b7b2", order: 1 },
            Other: { color: "#000000", order: 1 },
            Rent: { color: "#4e79a7", order: 1 },
            Remaining: { color: "#59a14f", order: 0 },
            Overspending: { color: "#d62728", order: 0 }
        };

        renderMonthlyChart(monthlyCategorySpending, monthlyIncome, tags);
    </script>
}
