::deep input, .code {
    width: 400px;
}

.pure-form .pure-controls {
    margin-left: 0;
}

.danger-zone ::deep form {
    padding: 20px;
    background-color: #ffc0ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.code {
    display: inline-block;
}

.code-group ::deep label {
    vertical-align: top;
}
