::deep input {
    min-width: 400px;
    max-width: 100%;
}

.pure-form .pure-controls {
    margin-left: 0;
}

.danger-zone ::deep form {
    padding: 20px;
    background-color: #ffc0ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
