@model CreateCsvImportSchema

@{
    ViewData["Title"] = "Create CSV Import Schema";
}

<h1>Create CSV Import Schema</h1>

<form id="csv-import-form" method="post" class="custom-form">

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
    </div>

    <partial name="Shared/Mapping" model="Model" />

    <div class="control-panel">
        <button type="submit" class="button button-primary">Save</button>
        <a href="/csvimportschema" class="button button-secondary">Back</a>
    </div>
</form>

@section Scripts {
    <script src="~/js/dirtyChecks.js"></script>
    <script src="~/js/csvImportSchemaMappings.js"></script>
}
