@model CsvImportSchemaInfo

@{
    ViewData["Title"] = "Edit CSV Import Schema";
}

<h1>Edit CSV Import Schema</h1>

<form id="csv-import-form" method="post" class="custom-form">

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
    </div>

    <partial name="Shared/Mapping" model="Model" />

    <div class="control-panel">
        <button type="submit" class="button button-primary">Save</button>
        <a href="/csvimportschema" class="button button-secondary">Back</a>
    </div>
</form>

<h3>Danger Zone</h3>

<div class="danger-zone">
    <form action="@Url.Action("Delete", "CsvImportSchema", new { id = Model.Id.Value })" method="post"
          onsubmit="return confirm('Are you sure you want to delete this CSV import schema?');">

        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />

        <label>Delete this CSV import schema?</label>

        <button type="submit" class="button button-danger">Delete</button>

    </form>

</div>

@section Scripts {
    <script src="~/js/dirtyChecks.js"></script>
    <script src="~/js/csvImportSchemaMappings.js"></script>
}
