@model CreateFinancialTransactionMetadataRule

@{
    ViewData["Title"] = "Create Rule";
}

<h1>Create Rule</h1>

<form method="post" class="custom-form">
    
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
    </div>

    <div class="form-group">
        <label asp-for="Expression">Expression (transaction)</label>
        <code>
            <textarea asp-for="Expression" id="Expression">
        </textarea>
        </code>
    </div>

    <div class="form-group">
        <label asp-for="Tag">Tag</label>
        <input asp-for="Tag" />
    </div>

    <div class="control-panel">
        <button type="submit" class="button button-primary">Save</button>
        <a href="/rule" class="button button-secondary">Back</a>
    </div>

</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/hint/show-hint.min.js"></script>

    <script src="~/js/dirtyChecks.js"></script>
    <script src="~/js/tagExpressionAutoComplete.js"></script>
}
