@model FinancialTransactionMetadataRuleInfo

@{
    ViewData["Title"] = "Edit Rule";
}

<h1>Edit Rule</h1>

<form method="post" class="custom-form">
    
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
    </div>

    <div class="form-group">
        <label asp-for="Expression">Expression (transaction)</label>
        <code>
            <textarea asp-for="Expression" id="Expression">
        </textarea>
        </code>
    </div>

    <div class="form-group">
        <label asp-for="MetadataValue">Tag</label>
        <input asp-for="MetadataValue" />
    </div>

    <div class="control-panel">
        <button type="submit" class="button button-primary">Save</button>
        <a href="/rule" class="button button-secondary">Back</a>
    </div>

</form>

<h3>Power Tools</h3>

<div class="power-tools">
    <form action="@Url.Action("Run", "Rule", new { id = Model.Id.Value })" method="post"
          class="form form-aligned"
          onsubmit="return confirm('Are you sure you want to run this rule?');">

        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />

        <label>Run this Rule?</label>

        <button type="submit" class="button button-secondary">Run Rule</button>

    </form>
</div>

<h3>Danger Zone</h3>

<div class="danger-zone">
    <form action="@Url.Action("Delete", "Rule", new { id = Model.Id.Value })" method="post"
          class="form form-aligned"
          onsubmit="return confirm('Are you sure you want to delete this rule?');">

        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />

        <label>Delete this Rule?</label>

        <button type="submit" class="button button-danger delete-button">Delete</button>

    </form>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/hint/show-hint.min.js"></script>

    <script src="~/js/dirtyChecks.js"></script>
    <script src="~/js/tagExpressionAutoComplete.js"></script>
}
