@model FinancialTransactionMetadataRuleSearchResults

@{
    ViewData["Title"] = "Rules";
    ViewData["PaginationBaseUrl"] = "rule";
}

<h1>Tag Rules</h1>

<partial name="Pagination" model="Model" />

<a href="/rule/create">Create New...</a>

<table id="rulesTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Tag</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rule in Model.Rules)
        {
            <tr>
                <td>@rule.Name</td>
                <td>@rule.MetadataValue</td>
                <td>
                    <a href="/rule/@rule.Id.Value/edit">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="Pagination" model="Model" />

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#rulesTable').DataTable({
                paging: false,
                searching: false,
                info: false,
                ordering: false,
                order: [[0, "desc"]]
            });
        });
    </script>
}
